@use '../../index';

main {
    .top-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            text-align: center;
        }
    }

    .flights-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;

        margin-top: 2rem;
    }
}

.ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 3;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        text-align: center;

        background-color: index.$orange-base-color;

        padding: 20px 15px;
        border-radius: 8px;

        .buttons-container {
            display: flex;
            gap: 1rem;

            width: 95%;

            .back {
                background-color: hsla(0, 0%, 50%, 0.8);
            }

            .cancel, .delete {
                background-color: rgba(220, 58, 58, 0.8);
            }
        }
    }
}
